.task-item{
    border:1px solid #cde;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
    max-width: 400px;
}

.task-title{
    font-size:18px;
    margin-bottom: 8px;
}

.task-description{
    margin-bottom: 16px;

}

.task-details{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.task-status,.task-priority,.task-due-date{
    flex-basis: 1;
    margin-left:5px;
}

.delete-button,.completed-button{
    background-color: #f44336;
    color:#fff;
    border:none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.completed-button{
    background-color: #00ad00;
    margin-left:5px;
}

.delete-button:hover{
    background-color: #d32f2f;
}

/* responsive styles */

@media screen and (max-width:600px){
    .task-details{
        flex-direction: column;
    }

    .task-status,.task-priority,.task-due-date{
        flex-basis: 100%;
        margin-bottom: 8px;
    }
    
    
}